/dts-v1/;

#include "rk3128.dtsi"
#include "rk3128-cif-sensor.dtsi"
#include "m1210.dtsi"
#include <dt-bindings/input/input.h>
//#include "lcd-b101ew05.dtsi"
//#include "lcd-mipi-1920x1080.dtsi"
//#include "lcd-mipi-1366x768.dtsi"
//#include "lcd-mipi-800x1280_jd9365.dtsi"
//#include "lcd-mipi-800x1280_ayf070.dtsi"
//#include "lcd-mipi-800x1280-hx1004c.dtsi"
//#include "lcd-box.dtsi"
//#include "screen-timing/toshiba/lcd-lvds-800x1280_ayf10.dtsi"
#include "screen-timing/mipi/lcd-mipi-zcs.dtsi"

/ {
	 compatible = "rockchip,rk3128";
        backlight: backlight {
                compatible = "pwm-backlight";
                pwms = <&pwm0 0 25000>;
                brightness-levels = <255 180 180 179 178 178 177 177 176 176 175 174 174 173 173 172 172 171 171 170 170 169 169 168 168 167 167 166 166 165 165 164 164 163 163 162 162 161 161 160 160 159 159 158 158 157 157 156 156 155 155 154 154 153 153 152 152 151 151 150 150 149 149 148 148 147 147 146 146 145 145 144 144 143 143 142 142 141 141 140 140 139 139 138 138 137 137 136 136 135 135 134 134 133 133 132 132 131 131 130 130 129 129 128 128 127 127 126 126 125 125 124 124 123 123 122 122 121 121 120 120 119 119 118 118 117 117 116 116 115 115 114 114 113 113 112 112 111 111 110 110 109 109 108 108 107 107 106 106 105 105 104 104 103 103 102 102 101 101 100 100 99 99 98 98 97 97 96 96 95 95 94 94 93 93 92 92 91 91 90 90 89 89 88 88 87 87 86 86 85 85 84 84 83 83 82 82 81 81 80 80 79 79 78 78 77 77 76 76 75 75 74 74 73 73 72 72 71 71 70 70 69 69 68 68 67 67 66 66 65 65 64 64 63 63 62 62 61 61 60 60 59 59 58 57 56 55 55 54 54 53 53 52 52 51 51>;
                default-brightness-level = <128>;
                enable-gpios = <&gpio0 GPIO_D3 GPIO_ACTIVE_HIGH>;
        };

	usb_control {
		compatible = "rockchip,rk3126-usb-control";
		pinctrl-names = "default";
		pinctrl-0 = <&host_en>;

		host_drv_gpio = <&gpio2 GPIO_B3 GPIO_ACTIVE_LOW>;
		otg_drv_gpio = <&gpio0 GPIO_B5 GPIO_ACTIVE_LOW>;

		rockchip,remote_wakeup;
		rockchip,usb_irq_wakeup;
	};

	led-control {
        	compatible = "led_control";
		pinctrl-names = "default";
                pinctrl-0 = <&sys_sta>;
        	USB_DRV_gpio = <&gpio0 GPIO_B0 GPIO_ACTIVE_HIGH>;
		SDMMC_PWR_gpio = <&gpio0 GPIO_D1 GPIO_ACTIVE_LOW>;
		HUB_PWR_gpio = <&gpio0 GPIO_B6 GPIO_ACTIVE_LOW>;
		LED_CTL_gpio = <&gpio2 GPIO_B1 GPIO_ACTIVE_HIGH>;
		sys_sta_gpio = <&gpio2 GPIO_C7 GPIO_ACTIVE_HIGH>;
		WIFI_PWR_gpio = <&gpio0 GPIO_B4 GPIO_ACTIVE_LOW>;
		//DVP_CTL_gpio = <&gpio0 GPIO_B1 GPIO_ACTIVE_LOW>;
        	status = "okay";
    	};

	wireless-wlan {		
		compatible = "wlan-platdata";
		wifi_chip_type = "ap6212";
		//sdio_vref = <3300>; //1800mv or 3300mv
		//keep_wifi_power_on;

		//WIFI,reset_gpio = <&gpio0 GPIO_B4 GPIO_ACTIVE_LOW>;	
		WIFI,poweren_gpio = <&gpio3 GPIO_D3 GPIO_ACTIVE_HIGH>;
		WIFI,host_wake_irq = <&gpio3 GPIO_C7 GPIO_ACTIVE_HIGH>;

		satus = "okay";	
	};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		uart_rts_gpios = <&gpio0 GPIO_C1 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default","rts_gpio";
		pinctrl-0 = <&uart0_rts>;
		pinctrl-1 = <&uart0_rts_gpio>;

		//BT,power_gpio = <&gpio1 GPIO_A3 GPIO_ACTIVE_LOW>;
		BT,reset_gpio = <&gpio3 GPIO_C5 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio = <&gpio3 GPIO_C4 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio3 GPIO_C6 GPIO_ACTIVE_HIGH>;

		status = "okay";
	};
};

&pwm1 {
	status = "disabled";
};

&fb {
	rockchip,disp-mode = <NO_DUAL>;
        rockchip,uboot-logo-on = <0>;
};

&dsihost0 {
	status = "okay";
};


&rk_screen {
	display-timings = <&disp_timings>;
};

&watchdog {
        status = "disabled";
};

&lcdc {
	status = "okay";
	backlight = <&backlight>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&lcdc0_lcdc>;
	pinctrl-1 = <&lcdc0_gpio>;

	rockchip,fb-win-map = <FB_DEFAULT_ORDER>;
	power_ctr: power_ctr {
		rockchip,debug = <0>;

		lcd_en: lcd_en {
			rockchip,power_type = <GPIO>;
			gpios = <&gpio2 GPIO_C6 GPIO_ACTIVE_HIGH>;
			rockchip,delay = <100>;
		};

		lcd_rst: lcd_rst {
			rockchip,power_type = <GPIO>;
                        gpios = <&gpio0 GPIO_B3 GPIO_ACTIVE_HIGH>;
                        rockchip,delay = <100>;
		};

	};
};

&hdmi {
        status = "okay";
};

&gmac_clkin {
        clock-frequency = <50000000>;
};

&gmac {
        reset-gpio = <&gpio2 GPIO_D0 GPIO_ACTIVE_LOW>;
        //phyirq-gpio = <&gpio0 GPIO_D1 GPIO_ACTIVE_LOW>;
        phy-mode = "rmii";
        clock_in_out = "output";
        tx_delay = <0x25>;
        rx_delay = <0x10>;
};

&sdmmc {
	cd-gpios = <&gpio1 GPIO_C1 GPIO_ACTIVE_HIGH>;/*CD GPIO*/
	status = "okay";
};

&codec {
	spk_ctl_io = <&gpio0 GPIO_D6 GPIO_ACTIVE_HIGH>;
	hp_ctl_io = <&gpio0 GPIO_D4 GPIO_ACTIVE_HIGH>;
        spk-mute-delay = <200>;
        hp-mute-delay = <100>;
        rk312x_for_mid = <1>;
        is_rk3128 = <1>;
        spk_volume = <25>;
        hp_volume = <25>;
        capture_volume = <26>;
        gpio_debug = <1>;
        codec_hp_det = <1>;
};

&rk3128_cif_sensor{
	status = "okay";
};


&clk_core_dvfs_table {
	operating-points = <
		/* KHz    uV */
		216000 925000
		408000 925000
		600000 950000
		696000 975000
		816000 1050000
		1008000 1175000
		1200000 1300000
		1296000 1350000
		1320000 1375000
		>;
	virt-temp-limit-1-cpu-busy = <
	/* target-temp	limit-freq */
		75	1008000
		85	1200000
		95	1200000
		100	1200000
		>;
	virt-temp-limit-2-cpu-busy = <
	/* target-temp	limit-freq */
		75	912000
		85	1008000
		95	1104000
		100	1200000
		>;
	virt-temp-limit-3-cpu-busy = <
	/* target-temp	limit-freq */
		75	816000
		85	912000
		95	100800
		100	110400
		>;
	virt-temp-limit-4-cpu-busy = <
	/* target-temp	limit-freq */
		75	816000
		85	912000
		95	100800
		100	110400
		>;
	temp-limit-enable = <1>;
	target-temp = <85>;
	status="okay";
};

&clk_gpu_dvfs_table {
	operating-points = <
		/* KHz    uV */
		200000 950000
		300000 975000
		400000 1075000
		//480000 1175000
		>;
	status="okay";
};

&clk_ddr_dvfs_table {
	operating-points = <
		/* KHz    uV */
		//200000 950000
		//300000 950000
		400000 1000000
		//533000 1200000
		>;

	freq-table = <
		/*status		freq(KHz)*/
		SYS_STATUS_NORMAL	400000
		SYS_STATUS_SUSPEND	400000
		SYS_STATUS_VIDEO_1080P  400000
		SYS_STATUS_VIDEO_4K     400000
		SYS_STATUS_PERFORMANCE  400000
		SYS_STATUS_DUALVIEW	400000
		SYS_STATUS_BOOST	400000
		SYS_STATUS_ISP		400000
		>;
	auto-freq-table = <
		//240000
		//324000
		396000
		//528000
		>;
	auto-freq=<0>;
	status="okay";
};

&remotectl {
        handle_cpu_id = <1>;
	ir_key2{
                rockchip,usercode = <0xfe01>;
                rockchip,key_table =
                        <0xfe   KEY_POWER>,
                        <0xd8   KEY_MENU>,
                        <0xd9   KEY_BACK>,
                        <0xda   KEY_HOME>,
                        <0xd6   KEY_VOLUMEUP>,
                        <0xd7   KEY_VOLUMEDOWN>,
                        <0xf8   KEY_ENTER>,
                        <0xfc   KEY_UP>,
                        <0xf7   KEY_DOWN>,
                        <0xfa   KEY_LEFT>,
                        <0xfd   388>,
                        <0xf9   KEY_RIGHT>;
        };
};
